<body style="background: url(images/dashboardbackground.jpg); color: #000000;">

  <section class='hero is-primary is-small is-bold'>
    <div class='hero-body'>
      <div class='container has-text-centered'>
        <h1 class='title'>Your games list</h1>
      </div>
    </div>
  </section>
  <div class='has-text-centered is-half'>
    <button
      class='button is-warning mt-5 is-half js-modal-trigger'
      data-target='add-post-modal'
      type="text/css"
                name=""
                onclick=window.location='/game';
                value="My Game List"
    >Click to add another Game</button>
  </div>
  <p class='has-text-centered is-half'>Click on a game to update or delete it:</p>
  <div class='container'>
    <section class='articles'>
      <div class='column is-8 is-offset-2'>

        {{! Presents each game belonging to the logged in user }}
        {{#each userGames as |game| }}
              <div>
                <h3>{{game.title}}</h3>
              </div>
              <div>
                <p>{{game.system}}</p>
              </div>
                            <div>
                <h3>{{game.genre}}</h3>
              </div>
              <div>
                <p>{{game.summary}}</p>
              </div>
                            <div>
                <h3>{{game.tips_tricks}}</h3>
              </div>
              <div>
                <p>{{game.rating}}</p>
              </div>
        {{/each}}
      </div>
    </section>
  </div>
</body>

<script
  src='https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js'
  integrity='sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj'
  crossorigin='anonymous'
></script>
<script src='/js/login.js'></script>
<script src='/js/logout.js'></script>
<script src='/js/modal.js'></script>
<script src='/js/addGame.js'></script>